h2 {
    color: #3c1b66;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 75%;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0dafd;
    color: #339;
}
