{% extends 'layout.html.twig' %}

{% block body%}
{{ parent() }}
<img src="{{ asset('public/img/icono.png') }}"/>
<h2><p>Billing Project</p></h2>
<h4><p>Created By: Bolívar Romero</p>
    <p>Copyright 2020</p>
</h4>
{% endblock %}