{% extends 'layout.html.twig' %}

{% block body%}
{{ parent() }}

<div class="container">
    <div class="col-md-12">
        <div class="page-header margin-none">
            <h2 class="padding-none">Users</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.role=='ROLE_ADMIN' %}
                                <strong>Administrator</strong>
                            {% elseif user.role=='ROLE_USER' %}
                                <strong>User</strong>
                            {% endif %}
                        </td>
                        <td>{{ user.createdAt|date('d-m-Y H:i') }}</td>
                        <td>{{ user.updatedAt|date('d-m-Y H:i') }}</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-info">View</a>
                            <a href="{{ path('brm_user_edit', { id: user.id }) }}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger btn-delete">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
