{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>New Client</h2>
                </div>
                {{ form_start(form, { 'attr':{'role': 'form'} }) }}
                <fieldset>
                    <div class="form-group">
                        {{ form_label(form.idDocument) }}
                        {{ form_widget(form.idDocument, { 'attr' : {'class' : 'form-control','placeholder' :'Enter the ID document'}}) }}
                        <span class="text-danger">{{ form_errors(form.idDocument) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName, { 'attr' : {'class' : 'form-control','placeholder' :'Enter the first name'}}) }}
                        <span class="text-danger">{{ form_errors(form.firstName) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName, { 'attr' : {'class' : 'form-control','placeholder' :'Enter the last name'}}) }}
                        <span class="text-danger">{{ form_errors(form.lastName) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone, { 'attr' : {'class' : 'form-control','placeholder' :'Enter the phone number'}}) }}
                        <span class="text-danger">{{ form_errors(form.phone) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address, { 'attr' : {'class' : 'form-control','placeholder' :'Enter the address'}}) }}
                        <span class="text-danger">{{ form_errors(form.address) }}</span>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.isActive) }}Active
                            <span class="text-danger">{{ form_errors(form.isActive) }}</span>
                        </label>
                    </div>
                </fieldset>
                <p>
                    {{ form_widget(form.save, {'label': 'Create client', 'attr': {'class': 'btn btn-success'}})}}
                </p>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}